@import 'src/scss/variables';


h1 {
    font-size: 40px;
    color: $primaryColor;
}

main {
    
    .ne-klasse-nach-main {
        color: $primaryColor;
        
        .noch-eine {
            display: block;
            font-size: 22px;
            color: $secondaryColor;
        }
    }
}
